.tooltip{
    position: relative;
    padding: 10px;
}
.tooltip-text{
    position: absolute;
    top: 10%; 
    left: 20%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
    display: none;

}

.tooltip:hover .tooltip-text {
    display: block;
}